# Byte-compiled files
__pycache__/

# Logs
logs
*.log

# Distribution / packaging
.Python
build/
dist/
lib/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest-cache/

# Sphinx documentation
docs/_build/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/
cover/

# OS specific
.DS_Store
